/* .demo-logo-vertical {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, .2);
    border-radius: 6px;
} */

.ant-layout-sider {
  background-color: white;
}

.demo-logo-vertical img{
  display: block;
  width: 50%;
  margin: 10px auto;
}